/.idea/.gitignore
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-879c016f51f0ef555089.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/lib/cmake_install.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-175015a4be7c3c3072bc.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-562df95b65f64cbd21b3.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-lib-Debug-e9069484d90298468a11.json
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/.cmake/api/v1/reply/index-2022-06-08T13-53-53-0028.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/.idea/scan_util.iml
/cmake-build-debug/.cmake/api/v1/reply/target-scan_lib-Debug-3ed011e44e512357f834.json
/cmake-build-debug/.cmake/api/v1/reply/target-scan_util-Debug-3b5917e39bb3f383e19f.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-09a535aa010b99c8c08b.json
/.idea/vcs.xml
